In [1]:
import pandas as pd

In [2]:
base = pd.read_excel("ChavesClientes.xlsx", sheet_name="base")

In [3]:
base.head()

   ID ChaveSituacao ClassRisco   CatCliente  Pagamento
0   1          32FC     Ccinza  Basic-Alpha          1
1   2          25MV   AAmarelo        Black          1
2   3          27MV  B-Amarelo   Basic-Beta          1
3   4          26FD   BAmarelo        Black          0
4   5          26FD  C-Amarelo        Black          0

In [17]:
base.groupby(["Pagamento", "ChaveSituacao"])["Pagamento"].count()

Pagamento  ChaveSituacao
0          26FD             2
           28FC             2
           28MD             1
           30FC             1
           31MD             1
1          25FD             1
           25FV             1
           25MV             1
           26MC             2
           27MC             1
           27MD             2
           27MV             1
           28FS             1
           29MV             1
           31MV             1
           32FC             1
Name: Pagamento, dtype: int64

In [20]:
base['Idade'] = base.ChaveSituacao.str[:2]
base['Gênero'] = base.ChaveSituacao.str[2:3]
base['EstadoCivil'] = base.ChaveSituacao.str[-1]

In [21]:
base.head()

,ID,ChaveSituacao,ClassRisco,CatCliente,Pagamento,Idade,Gênero,EstadoCicil,EstadoCivil
0,1,32FC,Ccinza,Basic-Alpha,1,32,F,C,C
1,2,25MV,AAmarelo,Black,1,25,M,V,V
2,3,27MV,B-Amarelo,Basic-Beta,1,27,M,V,V
3,4,26FD,BAmarelo,Black,0,26,F,D,D
4,5,26FD,C-Amarelo,Black,0,26,F,D,D

In [22]:
base.groupby(["Pagamento", "EstadoCivil"])["Pagamento"].count()

Pagamento  EstadoCivil
0          C              3
           D              4
1          C              4
           D              3
           S              1
           V              5
Name: Pagamento, dtype: int64

In [27]:
base['Categoria'] = base.CatCliente.str.split('-').str.get(0)
base['CatVip'] = base.CatCliente.str.split('-').str.get(1)

In [28]:
base.head()

,ID,ChaveSituacao,ClassRisco,CatCliente,Pagamento,Idade,Gênero,EstadoCicil,EstadoCivil,Categoria,CatVip
0,1,32FC,Ccinza,Basic-Alpha,1,32,F,C,C,Basic,Alpha
1,2,25MV,AAmarelo,Black,1,25,M,V,V,Black,NaN
2,3,27MV,B-Amarelo,Basic-Beta,1,27,M,V,V,Basic,Beta
3,4,26FD,BAmarelo,Black,0,26,F,D,D,Black,NaN
4,5,26FD,C-Amarelo,Black,0,26,F,D,D,Black,NaN

In [29]:
import re

In [30]:
re.findall('Lucas', 'meu nome é Lucas')

['Lucas']

In [33]:
base['Risco'] = base.ClassRisco.apply(lambda x: re.findall('^[A-Z][^A-Za-z]?', x)[0])

In [34]:
base.head()

,ID,ChaveSituacao,ClassRisco,CatCliente,Pagamento,Idade,Gênero,EstadoCicil,EstadoCivil,Categoria,CatVip,Risco
0,1,32FC,Ccinza,Basic-Alpha,1,32,F,C,C,Basic,Alpha,C
1,2,25MV,AAmarelo,Black,1,25,M,V,V,Black,NaN,A
2,3,27MV,B-Amarelo,Basic-Beta,1,27,M,V,V,Basic,Beta,B-
3,4,26FD,BAmarelo,Black,0,26,F,D,D,Black,NaN,B
4,5,26FD,C-Amarelo,Black,0,26,F,D,D,Black,NaN,C-

In [35]:
base['Idade'] = pd.to_numeric(base['Idade'])

In [36]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             20 non-null     int64
 1   ChaveSituacao  20 non-null     object
 2   ClassRisco     20 non-null     object
 3   CatCliente     20 non-null     object
 4   Pagamento      20 non-null     int64
 5   Idade          20 non-null     int64
 6   Gênero         20 non-null     object
 7   EstadoCicil    20 non-null     object
 8   EstadoCivil    20 non-null     object
 9   Categoria      20 non-null     object
 10  CatVip         8 non-null      object
 11  Risco          20 non-null     object
dtypes: int64(3), object(9)
memory usage: 2.0+ KB

In [38]:
base.loc[base.CatVip.isnull(), "CatVip"] = "Comum"

In [39]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             20 non-null     int64
 1   ChaveSituacao  20 non-null     object
 2   ClassRisco     20 non-null     object
 3   CatCliente     20 non-null     object
 4   Pagamento      20 non-null     int64
 5   Idade          20 non-null     int64
 6   Gênero         20 non-null     object
 7   EstadoCicil    20 non-null     object
 8   EstadoCivil    20 non-null     object
 9   Categoria      20 non-null     object
 10  CatVip         20 non-null     object
 11  Risco          20 non-null     object
dtypes: int64(3), object(9)
memory usage: 2.0+ KB

In [40]:
base.groupby(["Pagamento", "Categoria"])["Pagamento"].count()

Pagamento  Categoria
0          Basic        3
           Black        3
           Platinum     1
1          Basic        3
           Black        4
           Platinum     6
Name: Pagamento, dtype: int64